{% include "Header_admin.html"%}
    <style>
        .admin_profile_body{
            margin: 2em 0 2em 0;
            height: 40em;
            overflow: auto;
        }
        .admin_profile_body .admin_profile_content{
            display: flex;
            width: 100%;
        }
        .admin_profile_body .admin_profile_content .left-section {
            flex: 2;
            padding: 3em 5em 3em 3em;
            background-color: rgb(173, 245, 245);
            height: 25em;
        }
        .admin_profile_body .admin_profile_content .left-section button{
            font-size: 1.3em;
            border-style: none;
            border-radius: 0.5em;
            margin: 1em 0 0 2.1em;
            background-color: #31b302;
            color: #FFFFFF;
        }
        .admin_profile_body .admin_profile_content .left-section .hbr {
            padding: 1em 7em;
        }
        .admin_profile_body .admin_profile_content .left-section .dl {
            padding: 1em 3.3em;
        }
        .admin_profile_body .admin_profile_content .left-section .pl {
            padding: 1em 5.1em;
        }
        .admin_profile_body .admin_profile_content .left-section .cel {
            padding: 1em 5.6em;
        }
        .admin_profile_body .admin_profile_content .left-section .ccd {
            padding: 1em 4.1em;
        } 
        .admin_profile_body .admin_profile_content .left-section .cec {
            padding: 1em 2.5em;
        }
        .admin_profile_body .admin_profile_content .left-section .nac {
            padding: 1em 5.4em;
            background-color: #437B75;
        }
        .admin_profile_body .admin_profile_content .left-section .back {
            padding: 1em 2.3em;
        }
        .admin_profile_body .admin_profile_content .left-section button:hover{
            background-color: #029b26;
            color: #111111;
        }
        
        .admin_profile_body .admin_profile_content .right-section {
            flex: 5;
            padding: 1em;
            margin-left: 0.5em;
            background-color: #EEE9E9;
            text-align: center;
            font-size: 1.5em;
        }
        .eListUpbody{
            height: 33em;
            display: flex;
            justify-content: center; 
            align-items: center; 
        }
        .eListUp{
            height: 20em;
            width:38em;
            text-align:center;
        }
        .eListUp h1{
            font-size:2em;
            margin:-2em 0 0 0;
        }
        .eListUp form{
            margin:2em 0 0 4em;
        }
        .eListUp label{
            font-size:1.3em;
        }
        .eListUp input{
            font-size:1.2em;
            margin:1em 8em 0 0;
        }
        .eListUp button{
            font-size: 1em;
            background-color: #1a7d73; 
            border: none; 
            color: white;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border-radius: 5em;
            padding: 1em;
            margin: 1em 8em 0 0;
        }
        .form-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 1em;
            margin-left: 0.5em;
        }
        .form-row label {
            margin-right: 1em;
            margin-top:0.9em;
        }
        .admin_profile_body .admin_profile_content .right-section table, td, th {
            border: 1px solid;
            padding: 0.3em;
          }
          
        .admin_profile_body .admin_profile_content .right-section table {
            width: 100%;
            border-collapse: collapse;
            margin: 1em 0 0 0;
          }

    </style>
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="message {% if message.tags %}{{ message.tags }}{% endif %}" style="text-align: center; font-size: 1.8em; color: #ffffff; background-color: {% if message.tags == 'error' %}rgb(248, 8, 8){% elif message.tags == 'success' %}rgb(4, 143, 4){% endif %};">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
<section class="admin_profile_body">
    <div class="admin_profile_content">
        <div class="left-section"style="padding: 3em 6em 23em 3em;">
            <button class="hbr" onclick="window.location.href = '{% url 'admins' %}';"> Home </button>
            <button class="dl" onclick="window.location.href = '{% url 'A_doctor' %}';">List of Physiotherapists</button>
            <button class="pl" onclick="window.location.href = '{% url 'A_p_list' %}';">List of Patients</button>
            <button class="cel" onclick="window.location.href = '{% url 'a_exercise_db' %}';">Exercise List</button>
            <button class="ccd" onclick="window.location.href = '{% url 'a_category_db' %}';">Category of disease</button>
            <!--<button class="cec" onclick="window.location.href = '{% url 'check_exercise' %}';">Check Exercise Completion</button>-->
            <button class="nac" onclick="window.location.href = '{% url 'a_db' %}';">Admin Panels</button>
            <button class="back" onclick="goBack()"><i class="fa fa-arrow-circle-left"></i> Back</button>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
        <div class="right-section">
            <section class="eListUpbody">
                <div class="eListUp">
                    <h1>List of existing admins</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Gender</th>
                                <th>Category</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for admin in admin_lists %}
                                <tr>
                                    <td>{{ admin.fname }}</td>
                                    <td>{{ admin.lname }}</td>
                                    <td>{{ admin.email }}</td>
                                    <td>{{ admin.phone }}</td>
                                    <td>{{ admin.gender }}</td>
                                    <td>{{ admin.category }}</td>
                                    <td><img src="{{ admin.image }}" alt="{{ admin.name }}" width="200"></td>
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</section>
{% include "Footer_doctor.html" %}