{% include "Header_admin.html"%}
<style>
    .admin_profile_body{
        margin: 2em 0 2em 0;
        height: 40em;
        overflow: auto;
    }
    .admin_profile_body .admin_profile_content{
        display: flex;
        width: 100%;
    }
    .admin_profile_body .admin_profile_content .left-section {
        flex: 1;
        padding: 3em 5em 3em 3em;
        background-color: rgb(173, 245, 245);
        height: 25em;
    }
    .admin_profile_body .admin_profile_content .left-section button{
        font-size: 1.3em;
        border-style: none;
        border-radius: 0.5em;
        margin: 1em 0 0 2.1em;
        background-color: #31b302;
        color: #FFFFFF;
    }
    .admin_profile_body .admin_profile_content .left-section .hbr {
        padding: 1em 3.9em;
    }
    .admin_profile_body .admin_profile_content .left-section .dl {
        padding: 1em 0.12em;
        background-color: #437B75;
    }
    .admin_profile_body .admin_profile_content .left-section .pl {
        padding: 1em 1.9em;
    }
    .admin_profile_body .admin_profile_content .left-section .cel {
        padding: 1em 2.9em; 
    }
    .admin_profile_body .admin_profile_content .left-section .ccd {
        padding: 1em 0.8em;
    }
    .admin_profile_body .admin_profile_content .left-section .cec {
        padding: 1em 0.2em;
    }
    .admin_profile_body .admin_profile_content .left-section .nac {
        padding: 1em 2.2em;
    }
    .admin_profile_body .admin_profile_content .left-section .back {
        padding: 1em 2.3em;
    }
    .admin_profile_body .admin_profile_content .left-section button:hover{
        background-color: #029b26;
        color: #111111;
    }
    
    .admin_profile_body .admin_profile_content .right-section {
        flex: 6;
        padding: 1em;
        margin-left: 0.5em;
        background-color: #EEE9E9;
        text-align: center;
        font-size: 1.5em;
    }
    .admin_profile_body .admin_profile_content .right-section table, td, th {
        border: 1px solid;
        padding: 0.3em;
      }
      
    .admin_profile_body .admin_profile_content .right-section table {
        width: 100%;
        border-collapse: collapse;
      }
    .admin_profile_body .admin_profile_content .right-section table button{padding: 0.5em 1.5em; font-size:1em;border-radius:5em;}
    .admin_profile_body .admin_profile_content .right-section table button:hover{background-color: #029b26;color: white;}
</style>

<div>
    {% if messages %}
        {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }}{% endif %}" style="text-align: center; font-size: 1.8em; color: #ffffff; background-color: {% if message.tags == 'error' %}rgb(248, 8, 8){% elif message.tags == 'success' %}rgb(4, 143, 4){% endif %};">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

<section class="admin_profile_body">
    <div class="admin_profile_content">
        <div class="left-section"style="padding: 3em 6em 25em 3em;">
            <button class="hbr" onclick="window.location.href = '{% url 'admins' %}';"> Home </button>
            <button class="dl" onclick="window.location.href = '{% url 'A_doctor' %}';">List of Physiotherapists</button>
            <button class="back" onclick="goBack()"><i class="fa fa-arrow-circle-left"></i> Back</button>
            <button class="pl" onclick="window.location.href = '{% url 'A_p_list' %}';">List of Patients</button>
            <button class="cel" onclick="window.location.href = '{% url 'a_exercise_db' %}';">Exercise List</button>
            <button class="ccd" onclick="window.location.href = '{% url 'a_category_db' %}';">Category of disease</button>
            <!--<button class="cec" onclick="window.location.href = '{% url 'check_exercise' %}';">Check Exercise Completion</button>-->
            <button class="nac" onclick="window.location.href = '{% url 'a_db' %}';">Admin Panels</button>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
        <div class="right-section">
            <h2>List of non active doctors</h2>
            <table>
                <thead>
                    {% if doctor_items and doctor_items.0.active == 'no' %}
                        <tr>
                            <th>Doctor Number</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th>
                            <th>NID/Passport</th>
                            <th>BPA/BRC Number</th>
                            <th>Phone Number</th>
                            <th>Emergency Phone</th>
                            <th>Email Address</th>
                            <th>Full Address</th>
                            <th>Chamber/Clinic/Hospital</th>
                            <th>Action</th>
                            {% if access %}
                                <th>Delete</th>
                            {% endif %}
                            <th>Edit Information</th>
                        </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% for doctor in doctor_items %}
                        <tr>
                            <td>{{doctor.S_number}}</td>
                            <td>{{ doctor.title }} {{ doctor.first_name }}</td>
                            <td>{{ doctor.last_name }} {{doctor.ltitle}}</td>
                            <td>{{doctor.gender}}</td>
                            <td>{{doctor.NIDP_number}}</td>
                            <td>{{doctor.BPA_number}}</td>
                            <td>{{doctor.phone}}</td>
                            <td>{{doctor.ephone}}</td>
                            <td>{{doctor.email}}</td>
                            <td>{{doctor.division}},{{doctor.district}},{{doctor.address}}</td>
                            <td>{{doctor.ch_name}}</td>
                            {% if doctor.active == 'no' %}
                                <td>
                                    <form action="{% url 'dactive_status' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="doctor_id" value="{{ doctor.S_number }}">
                                        <input type="hidden" name="active" value="yes">
                                        <button type="submit">Activate</button>
                                    </form> 
                                </td>
                            {% endif %}
                            {% if access %}
                                <td><button onclick="deleteDoctor('{{ doctor.S_number }}')">Delete</button></td>
                            {% endif %}
                            <td><button onclick="EditDoctor('{{ doctor.S_number }}')">Edit</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                function deleteDoctor(S_number) {
                    var form = document.createElement('form');
                    form.method = 'POST';
                    form.action = '/admin/doctor/delete/';
            
                    var inputSNumber = document.createElement('input');
                    inputSNumber.type = 'hidden';
                    inputSNumber.name = 'S_number';
                    inputSNumber.value = S_number;
            
                    var csrfToken = document.createElement('input');
                    csrfToken.type = 'hidden';
                    csrfToken.name = 'csrfmiddlewaretoken';
                    csrfToken.value = '{{ csrf_token }}';
            
                    form.appendChild(inputSNumber);
                    form.appendChild(csrfToken);
            
                    document.body.appendChild(form);
                    form.submit();
                }
                function EditDoctor(S_number) {
                    var form = document.createElement('form');
                    form.method = 'POST';
                    form.action = '/admin/doctor/edit/profile/';
            
                    var inputSNumber = document.createElement('input');
                    inputSNumber.type = 'hidden';
                    inputSNumber.name = 'S_number';
                    inputSNumber.value = S_number;
            
                    var csrfToken = document.createElement('input');
                    csrfToken.type = 'hidden';
                    csrfToken.name = 'csrfmiddlewaretoken';
                    csrfToken.value = '{{ csrf_token }}';
            
                    form.appendChild(inputSNumber);
                    form.appendChild(csrfToken);
            
                    document.body.appendChild(form);
                    form.submit();
                }
            </script>
        </div>
    </div>
</section>

{% include "Footer_doctor.html" %}