{% include "Header_admin.html"%}
<style>
    .admin_profile_body{
        margin: 2em 0 2em 0;
        height: 40em;
        overflow: auto;
    }
    .admin_profile_body .admin_profile_content{
        display: flex;
        width: 100%;
    }
    .admin_profile_body .admin_profile_content .left-section {
        flex: 2;
        padding: 3em 5em 3em 3em;
        background-color: rgb(173, 245, 245);
        height: 25em;
    }
    .admin_profile_body .admin_profile_content .left-section button{
        font-size: 1.3em;
        border-style: none;
        border-radius: 0.5em;
        margin: 1em 0 0 2.1em;
        background-color: #31b302;
        color: #FFFFFF;
    }
    .admin_profile_body .admin_profile_content .left-section .hbr {
        padding: 1em 7em;
    }
    .admin_profile_body .admin_profile_content .left-section .dl {
        padding: 1em 3.3em;
    }
    .admin_profile_body .admin_profile_content .left-section .pl {
        padding: 1em 5.1em;
    }
    .admin_profile_body .admin_profile_content .left-section .cel {
        padding: 1em 5.6em;
    }
    .admin_profile_body .admin_profile_content .left-section .ccd {
        padding: 1em 4.1em;
    }
    .admin_profile_body .admin_profile_content .left-section .cec {
        padding: 1em 2.5em;
    }
    .admin_profile_body .admin_profile_content .left-section .nac {
        padding: 1em 5.4em;
        background-color: #437B75; 
    }
    .admin_profile_body .admin_profile_content .left-section .back {
        padding: 1em 2.3em; 
    }
    .admin_profile_body .admin_profile_content .left-section button:hover{
        background-color: #029b26;
        color: #111111;
    }
    
    .admin_profile_body .admin_profile_content .right-section {
        flex: 5;
        padding: 1em;
        margin-left: 0.5em;
        background-color: #EEE9E9;
        text-align: center;
        font-size: 1.5em;
    }
    .admin_profile_body .admin_profile_content .right-section h2{
        margin-top:-0.2em;
    }
    .admin_profile_body .admin_profile_content .right-section img{
        height:4.5em;
        width:4.5em;
        margin-top:0.2em;
    }
    .admin_profile_body .admin_profile_content .right-section input{
        font-size:1em;
        padding: 0 1em 0 1em;
        margin:0.3em;
    }
    .formbody .formcont button:hover{
        background-color: #029b26;
        color: white;
    }
    .formbody .formcont select{
        width: 21.2em;
        padding: 0.5em;
        border: 0.1em solid #ccc;
        border-radius: 2%;
    }
    .new_admin_formbody {
        background-size: cover;
        background-repeat: no-repeat;
        height: 25em;
    }
    .horizontal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size:1em;
    }
    .form-group {
        margin-bottom: 1em;
        font-size:1em;
        margin-left:0.2em;
    }

</style>

<section class="admin_profile_body">
    <div class="admin_profile_content">
        <div class="left-section"style="padding: 3em 6em 23em 3em;">
            <button class="hbr" onclick="window.location.href = '{% url 'admins' %}';"> Home </button>
            <button class="dl" onclick="window.location.href = '{% url 'A_doctor' %}';">List of Physiotherapists</button>
            <button class="pl" onclick="window.location.href = '{% url 'A_p_list' %}';">List of Patients</button>
            <button class="cel" onclick="window.location.href = '{% url 'a_exercise_db' %}';">Exercise List</button>
            <button class="ccd" onclick="window.location.href = '{% url 'a_category_db' %}';">Category of disease</button>
            <!--<button class="cec" onclick="window.location.href = '{% url 'check_exercise' %}';">Check Exercise Completion</button>-->
            <button class="nac" onclick="window.location.href = '{% url 'a_db' %}';">Admin Panels</button>
            <button class="back" onclick="goBack()"><i class="fa fa-arrow-circle-left"></i> Back</button>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
        <div class="right-section">
            <div class="new_admin_formbody">
                <section class="formimg" style="opacity:1;position: relative;">
                    <div>
                        {% if error %}
                                <div class="error-message" style="text-align: center;font-size: 1.8em;background-color: rgb(248, 8, 8);color: #ffffff;">{{ error }}</div>
                        {% endif %}
                        {% if success %}
                            <div class="success-message" style="text-align: center;font-size: 1.8em;background-color: rgb(4, 143, 4);color: #ffffff;">{{ success }}</div>
                        {% endif %}
                    </div>
                </section>
                <section class="formbody"style="opacity:1;position: relative;margin: 2em 0 0 0;">
                    <div class="formcont">
                        <h1 style="margin:0.5em 0 0 0 ;font-size:2em;">Create a new admin</h1>
                        <img src="\static\images\icon\03.png" alt="Profile Picture" class="profile-picture">
                        <form action="#" method="post">
                            {% csrf_token %}
                            <h2>Fill in the admin details</h2>
                            <div class="horizontal">
                                <div class="form-group">
                                    <label for="first_name">First Name:</label>
                                    <input type="text" name="first_name" id="first_name" placeholder="First Name" required pattern="[A-Za-z. ]{1,25}" maxlength="25">
                                </div>
                                <div class="form-group">
                                    <label for="last_name">Last Name:</label>
                                    <input type="text" name="last_name" id="last_name" placeholder="Last Name" required pattern="[A-Za-z. ]{1,25}" maxlength="25">
                                </div>
                            </div>
                            <div class="horizontal">
                                <div class="form-group" >
                                    <label for="category"> Category: </label>
                                    <select name="category" id="category" required style="font-size:0.7em;width:10em;">
                                    <option value="">Select Title</option>
                                    <option value="full"> Full Access </option>
                                    <option value="mid"> Specific Access </option>
                                    </select>
                                </div>
                                <div class="form-group" style="margin-right:7.5em;">
                                    <label for="gender">Gender:</label>
                                    <select name="gender" id="gender" style="font-size:0.7em;width:10em;">
                                    <option value="">Select gender</option>
                                    <option value="male"> Male </option>
                                    <option value="female"> Female </option>
                                    </select>
                                </div>
                            </div>
                            <div class="horizontal">
                                <div class="form-group">
                                    <label for="email">Email Address:</label>
                                    <input type="email" name="email" id="email" placeholder="Enter Email" required maxlength="35">
                                </div>
                                <div class="form-group">
                                    <label for="contact_no">Phone No:</label>
                                    <input type="tel" name="contact_no" id="contact_no" pattern="[0-9]*" maxlength="11" placeholder="Enter Contact Number">
                                </div>
                            </div>
                            <div class="horizontal">
                                <div class="form-group">
                                    <label for="password">Password: </label>
                                    <input type="password" name="password" id="password" placeholder="Enter password" required maxlength="30">
                                </div>
                                <div class="form-group">
                                    <label for="confirm_password">Confirm Password:</label>
                                    <input type="password" name="Confirm_password" id="confirm_password" placeholder="Confirm Password" required maxlength="30">
                                </div>
                                <script src="/static/js/passwordCheck.js"> </script>
                            </div>
                            <button type="submit"style="font-size: 1em;padding: 0.3em 1em;margin: 1.5em 0 0 0;border-radius: 0.5em;">Create Account</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% include "Footer_doctor.html" %}

