{% include "Header_admin.html"%}
    <style>
        .admin_profile_body{
            margin: 2em 0 2em 0;
            height: 40em;
            overflow: auto;
        }
        .admin_profile_body .admin_profile_content{
            display: flex;
            width: 100%;
        }
        .admin_profile_body .admin_profile_content .left-section {
            flex: 2;
            padding: 3em 5em 3em 3em;
            background-color: rgb(173, 245, 245);
            height: 25em;
        }
        .admin_profile_body .admin_profile_content .left-section button{
            font-size: 1.3em;
            border-style: none;
            border-radius: 0.5em;
            margin: 1em 0 0 2.1em;
            background-color: #31b302;
            color: #FFFFFF;
        }
        .admin_profile_body .admin_profile_content .left-section .hbr {
            padding: 1em 7em;
        }
        .admin_profile_body .admin_profile_content .left-section .dl {
            padding: 1em 3.3em;
        }
        .admin_profile_body .admin_profile_content .left-section .pl {
            padding: 1em 5.1em;
        }
        .admin_profile_body .admin_profile_content .left-section .cel {
            padding: 1em 5.6em;
        }
        .admin_profile_body .admin_profile_content .left-section .ccd {
            padding: 1em 4.1em;
            background-color: #437B75;
        }
        .admin_profile_body .admin_profile_content .left-section .cec {
            padding: 1em 2.5em;
        }
        .admin_profile_body .admin_profile_content .left-section .nac {
            padding: 1em 5.4em;
        } 
        .admin_profile_body .admin_profile_content .left-section .back {
            padding: 1em 2.3em;
        }
        .admin_profile_body .admin_profile_content .left-section button:hover{
            background-color: #029b26;
            color: #111111;
        }
        
        .admin_profile_body .admin_profile_content .right-section {
            flex: 5;
            padding: 1em;
            margin-left: 0.5em;
            background-color: #EEE9E9;
            text-align: center;
            font-size: 1.5em;
        }
        .eListUpbody {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20em; 
            margin: 4em 0 0 0;
        }
        
        .eListUp {
            max-width: 80em;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1.5em;
        }
        
        .exercise-form {
            display: flex;
            flex-direction: column;
        }
        
        .form-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
        }
        
        .form-row label {
            margin-right: 0.5em;
        }
        .form-row input { font-size: 0.7em;}
        .form-row input[type="file"] {
            flex-grow: 1;
            font-size: 0.8em;
        }
        
        button[type="submit"] {
            margin: 20px auto 0; /* Center button */
            display: block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 0.7em;
        }
        button[type="submit"]:hover{background-color: #029b26;color: #111111;}

    </style>

    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="message {% if message.tags %}{{ message.tags }}{% endif %}" style="text-align: center; font-size: 1.8em; color: #ffffff; background-color: {% if message.tags == 'error' %}rgb(248, 8, 8){% elif message.tags == 'success' %}rgb(4, 143, 4){% endif %};">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
<section class="admin_profile_body">
    <div class="admin_profile_content">
        <div class="left-section"style="padding: 3em 6em 23em 3em;">
            <button class="hbr" onclick="window.location.href = '{% url 'admins' %}';"> Home </button>
            <button class="dl" onclick="window.location.href = '{% url 'A_doctor' %}';">List of Physiotherapists</button>
            <button class="pl" onclick="window.location.href = '{% url 'A_p_list' %}';">List of Patients</button>
            <button class="cel" onclick="window.location.href = '{% url 'a_exercise_db' %}';">Exercise List</button>
            <button class="ccd" onclick="window.location.href = '{% url 'a_category_db' %}';">Category of disease</button>
            <button class="back" onclick="goBack()"><i class="fa fa-arrow-circle-left"></i> Back</button>
            <!--<button class="cec" onclick="window.location.href = '{% url 'check_exercise' %}';">Check Exercise Completion</button>-->
            <button class="nac" onclick="window.location.href = '{% url 'a_db' %}';">Admin Panels</button>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
        <div class="right-section">
            <section class="eListUpbody">
                <div class="eListUp">
                    <h1>Create new disease categories</h1>
                    <form method="post" enctype="multipart/form-data" class="exercise-form">
                        {% csrf_token %}
                        <div class="form-row">
                            <label for="deID">Disease ID:</label>
                            <input type="text" id="deID" name="deID" required pattern="[A-Z0-9]{1,7}" maxlength="7">
                        </div>
                        <div class="form-row">
                            <label for="catagory">Name of disease category:</label>
                            <input type="text" id="catagory" name="catagory" required pattern="[A-Za-z ]{1,29}" maxlength="29">
                        </div>
                        <div class="form-row">
                            <label for="photo">Photo:</label>
                            <input type="file" id="photo" name="photo">
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>
{% include "Footer_doctor.html" %}