{% include "HeaderDL.html"%}
<style>
    .formbody .formcont select{
        width: 21.2em;
        padding: 0.5em;
        border: 0.1em solid #ccc;
        border-radius: 2%;
    }
    
</style>
<section class="formimg">
    <img src="/static/images/06.jpg" alt="image loading....">
    <div>
        {% if error %}
                <div class="error-message" style="text-align: center;font-size: 1.8em;background-color: rgb(248, 8, 8);color: #ffffff;">{{ error }}</div>
        {% endif %}
        {% if success %}
            <div class="success-message" style="text-align: center;font-size: 1.8em;background-color: rgb(4, 143, 4);color: #ffffff;">{{ success }}</div>
        {% endif %}
    </div>
</section>
<section class="formbody">
    <div class="formcont">
        <img src="\static\images\icon\02.png" alt="Profile Picture" class="profile-picture">
        <form action="#" method="post">
            {% csrf_token %}
            <h2>Fill your details</h2>
            <div class="horizontal">
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" id="first_name" placeholder="First Name" required pattern="[A-Za-z. ]{1,25}" maxlength="25">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" id="last_name" placeholder="Last Name" required pattern="[A-Za-z. ]{1,25}" maxlength="25">
                </div>
            </div>
            <div class="horizontal">
                <div class="form-group">
                    <label for="title"> Title: </label>
                    <select name="title" id="title">
                    <option value="">Select Title</option>
                    <option value="Dr."> Dr. </option>
                    <option value="Prof.Dr."> Prof. Dr. </option>
                    <option value="Assoc.Prof.Dr."> Assoc. Prof. Dr. </option>
                    <option value="Asst.Prof.Dr."> Asst. Prof. Dr. </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <select name="gender" id="gender">
                    <option value="">Select gender</option>
                    <option value="male"> Male </option>
                    <option value="female"> Female </option>
                    </select>
                </div>
            </div>
            <div class="horizontal">
                <div class="form-group">
                    <label for="email">Email Address:</label>
                    <input type="email" name="email" id="email" placeholder="Enter Email" required maxlength="35">
                </div>
                <div class="form-group">
                    <label for="nidp">NID/Smart Card/Passport Number:</label>
                    <input type="text" name="nidp" id="nidp" placeholder="NID/Smart Card/Passport Number" required maxlength="17" pattern="^[A-Z]{1}[0-9]{8}|^[A-Z]{2}[0-9]{7}|^\d{10}|^\d{17}$">
                </div>
            </div>
            <div class="horizontal">
                <div class="form-group">
                    <label for="bpa">Registration Number(BPA/BRC):</label>
                    <input type="text" name="bpa" id="bpa" placeholder="BPA/BRC Registration Number" required maxlength="8" pattern="^[A-Z]{1}[0-9]{7}|^[A-Z]{2}[0-9]{6}|^[0-9]{1,8}$">
                </div>
                <div class="form-group">
                    <label for="contact_no">Phone No:</label>
                    <input type="tel" name="contact_no" id="contact_no" pattern="[0-9]*" maxlength="11" placeholder="Enter Contact Number">
                </div>
                <div class="form-group">
                    <label for="emergency_contact">Emergency Phone No:</label>
                    <input type="tel" name="emergency_contact" id="emergency_contact" pattern="[0-9]*" maxlength="11" placeholder="Emergency Contact" required>
                </div>
            </div>
            <div class="horizontal">
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" placeholder="Enter password" required maxlength="30">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" name="Confirm_password" id="confirm_password" placeholder="Confirm Password" required maxlength="30">
                </div>
                <script src="/static/js/passwordCheck.js"> </script>
            </div>
            <div class="adborder">
                <div class="form-group">
                    <label for="ch_name">Chamber/Clinic/Hospital Name:</label>
                    <input type="text" name="ch_name" id="ch_name" pattern="[A-Za-z. 0-9]{1,99}" maxlength="99" placeholder="Chamber/Clinic/Hospital name" required style="width:95%">
                </div>
                <div class="horizontal">
                    <div class="form-group">
                        <label for="division">Division:</label>
                        <select name="division" id="division" onchange="updateDistricts()">
                        <option value="">Select Division</option>
                        <option value="dhaka">Dhaka</option>
                        <option value="rajshahi">Rajshahi</option>
                        <option value="chittagong">Chittagong</option>
                        <option value="barisal">Barisal</option>
                        <option value="khulna">Khulna</option>
                        <option value="mymensingh">Mymensingh</option>
                        <option value="rangpur">Rangpur</option>
                        <option value="sylhet">Sylhet</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="district">District:</label>
                        <select name="district" id="district">
                        </select>
                        <script src="/static/js/division.js"></script>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea name="address" id="address" placeholder="House no./building/street/area" rows="1" required maxlength="100"></textarea>
                </div>
            </div>
            <button type="submit">Create Account</button>
        </form>
    </div>
</section>
{% include "Footer.html" %}