<section class="foots">
    <img src="/static/images/logofupsbr1.png" alt="Social Media Follow Icons" class="im" id="logos">
    <script>
        document.getElementById('logos').addEventListener('click', function() {
            window.location.href = "{% url 'index' %}";
        });
    </script>
    <div class="footdiv">
      <h2>Quick social media and download links</h2>
      <ul>
        <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
        <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
        <li><a href="#"><i class="fab fa-youtube"></i> YouTube</a></li>
        <!--<li><a href="#"><i class="fab fa-linkedin"></i> Linkedin</a></li>-->
        <li><a href="#"><i class="fab fa-windows"></i> Microsoft Store</a></li>
        <li><a href="#"><i class="fab fa-google-play"></i> Google Play Store</a></li>
        <li><a href="#"><i class="fab fa-apple"></i> Apple App Store</a></li>
      </ul>
    </div>
</section>
<div class="footer-bottom">
    &copy; 2024 Physiotherapy Home Assistant | Developed by Tawhid Mostafa. | Designed by Faiaz Fahim,Tawhid Mostafa,Tanvir Ahmed.
</div>