{% include "HeaderPL.html"%}
<section class="photo_section">
    <img src="/static/images/05.jpg" alt="image loading....">
    <div class="hovtex">
        <h3>Let`s make your life happier</h3>
        <h1>Healthy Living</h1>
    </div>
</section>
<section class="plogbody">
    <ul>
        <li><button class="log" onclick="window.location.href = '{% url 'patientlog' %}';">LogIn</button></li>
        <li>Already has a account</li>
        <li><button class="sin" onclick="window.location.href = '{% url 'patientsin' %}';">SignUp</button></li>
        <li>Create new account</li>
    </ul>
    
</section>
{% include "Footer.html" %}