{% include "Header_patient.html" %}
<style>
    .p_home_body{height:50em;overflow: auto;}
    .p_home_content{height:49em;}
    .left-section{height:48em;}
    .img_ex_my button{
        padding:0 1em 0 1em;
        font-size:1em;
        border-radius: 0.2em;
    }
    .img_ex_my {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .horizontal {
        width: calc(50% - 0.5em);
        margin-bottom: 0.5em;
    }
    .p_home_body .p_home_content .left-section .rqbe {
        padding: 0.3em 0.85em;
    }
    .p_home_body .p_home_content .left-section .nrbe {
        padding: 0.3em 0.75em;
    }
    .p_home_body .p_home_content .left-section .back {
        margin-top:13em;
        padding: 0.3em 1em;
    }
    .img_ex_my button:hover{
        background-color: #029b26;
        color: white;
    }
    .video_mark_b{
        display: flex; 
        justify-content: center;
        margin:13% 0 0 0;
    }
    .video_mark_b .upload{
        padding:0.5em 3em;
        font-size:1em;
    }
    .video_mark_b .live{
        padding:1.5em 3em;
        font-size:1em;
    }
    .video_mark_b button {
        margin: 0 2em; 
    }
    .horizontal_v {
        display: flex; 
    }

</style>


<section class="p_home_body">
    <div class="p_home_content">
        <div class="left-section" style="height:45em;">
            <button class="hbe" onclick="window.location.href = '{% url 'user_home' %}';"> Home </button>
            <button class="ebe" onclick="window.location.href = '{% url 'patient_exc' %}';">My Problems</button>
            <button class="rbe" onclick="window.location.href = '{% url 'patient_report' %}';">Report</button>
            <button class="abe" onclick="window.location.href = '{% url 'patient_addrid' %}';"> Add New<br> Referral ID</button>
           <!--<button class="rqbe" onclick="window.location.href = '{% url 'patient_req_s' %}';"> Request Session</button>
            <button class="nrbe" onclick="window.location.href = '{% url 'p_notice' %}';"><i class="fa fa-bell"></i> Notice History</button>-->
            <button class="back" onclick="goBack()"><i class="fa fa-arrow-circle-left"></i> Back</button>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
        <div class="right-section">
            <h1>My Exercise List</h1>
            <div class="img_ex_my">
                {% for exercise in exercises %}
                    <div>
                        <label for="eID"><img src="{{ exercise.image }}" alt="{{ exercise.EName }}" style="width:9em;height:8em;"></label><br>
                        <button onclick="redirectToNewPage('{{ exercise.EID }}', '{{ rid }}')">{{ exercise.EName }}<br>See Model Video</button><br>
                    </div>
                {% endfor %}
                <script>
                    function redirectToNewPage(eid, rid) {
                        var inputEid = document.createElement('input');
                        inputEid.type = 'hidden';
                        inputEid.name = 'eid';
                        inputEid.value = eid;

                        var inputRid = document.createElement('input');
                        inputRid.type = 'hidden';
                        inputRid.name = 'rid';
                        inputRid.value = rid;
                        
                        var csrfToken = document.createElement('input');
                        csrfToken.type = 'hidden';
                        csrfToken.name = 'csrfmiddlewaretoken';
                        csrfToken.value = '{{ csrf_token }}';

                        var form = document.createElement('form');
                        form.method = 'POST';
                        form.action = '/patient/problem/excercise/video/';
                        form.appendChild(inputEid);
                        form.appendChild(inputRid);
                        form.appendChild(csrfToken);
                        
                        document.body.appendChild(form);
                        form.submit();
                    }
                </script>
            </div>
            <section class="video_mark_b">
                <div class="horizontal_v">
                    <button class='upload' onclick="redirectTo('{{ rid }}', '/patient/problem/exercise/video/upload/')">UPLOAD RECORDED<br>EXERCISE VIDEO</button>
                    <button class='live' onclick="redirectTo('{{ rid }}', '/patient/problem/exercise/video/record/')">Live Session</button>
                </div>
                <script>
                    function redirectTo(rid, actionUrl) {
                        var inputRid = document.createElement('input');
                        inputRid.type = 'hidden';
                        inputRid.name = 'rid';
                        inputRid.value = rid;
            
                        var csrfToken = document.createElement('input');
                        csrfToken.type = 'hidden';
                        csrfToken.name = 'csrfmiddlewaretoken';
                        csrfToken.value = '{{ csrf_token }}';
            
                        var form = document.createElement('form');
                        form.method = 'POST';
                        form.action = actionUrl;
                        form.appendChild(inputRid);
                        form.appendChild(csrfToken);
            
                        document.body.appendChild(form);
                        form.submit();
                    }
                </script>
            </section>
        </div>
    </div>
</section>
{% include "Footer_patient.html" %}