{% include "Header_patient.html" %}
<style>
    .p_home_body{height:55em;overflow: auto;}
    .p_home_content{height:54em;}
    .img_ex_my button{
        padding:0.3em 1.5em 0.3em 1.5em;
        font-size:1em;
        border-radius: 0.2em;
    }
    .img_ex_my {
        text-align:center;
    }
    .p_home_body .p_home_content .left-section .rqbe {
        padding: 0.3em 0.85em;
    }
    .p_home_body .p_home_content .left-section .nrbe {
        padding: 0.3em 0.75em;
    }
    .p_home_body .p_home_content .left-section .back {
        margin-top:3em;
        padding: 0.3em 1em;
    }
    .img_ex_my button:hover{
        background-color: #029b26;
        color: white;
    }
    .up_video_sec_ex_v{
        border:
        
    }
    .up_video_sec_ex_v input{
        font-size:1em;
    }
    .up_video_sec_ex select{
        font-size:1em;
    }
</style>


<section class="p_home_body">
    <div class="p_home_content">
        <div class="left-section" style="height:49.9em;">
            <button class="hbe" onclick="window.location.href = '{% url 'user_home' %}';"> Home </button>
            <button class="ebe" onclick="window.location.href = '{% url 'patient_exc' %}';">My Problems</button>
            <button class="rbe" onclick="window.location.href = '{% url 'patient_report' %}';">Report</button>
            <button class="abe" onclick="window.location.href = '{% url 'patient_addrid' %}';"> Add New<br> Referral ID</button>
            <!--<button class="rqbe" onclick="window.location.href = '{% url 'patient_req_s' %}';"> Request Session</button>
            <button class="nrbe" onclick="window.location.href = '{% url 'p_notice' %}';"><i class="fa fa-bell"></i> Notice History</button>-->
            <button class="back" onclick="goBack()"><i class="fa fa-arrow-circle-left"></i> Back</button>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
        <div class="right-section">
            <h1>Upload your exercise video</h1>
            <div class="img_ex_my">
                <form id="exerciseForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="rid" value="{{ rid }}">
                    <div class="up_video_sec_ex">
                        <label for="exercise" style="font-size:1.5em;margin-right:0.5em;">Select Exercise:</label>
                        <select name="exercise" id="exercise">
                            <option value="">Select Exercise option</option>
                            {% for exercise in exercises %}
                                <option value="{{ exercise.EID }}">{{ exercise.EName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="up_video_sec_ex_v">
                        <label for="video" style="font-size:1.3em;margin-right:0.5em;">Upload your video: </label>
                        <input type="file" id="video" name="video" accept="video/*" onchange="previewVideo(this)">
                        <video id="videoPreview" width="520" height="440" controls style="display: none;">
                            Your browser does not support the video tag.
                        </video>
                        <input type="hidden" id="videoDuration" name="video_duration">
                    </div>
                    <br>
                    <button type="button" id="submitButton" onclick="handleSubmit()">Submit</button>
                    <div id="resultDiv" style="display: none;margin:0.5em 0 0 0;background-color: #029b26;color: white;font-size:1.2em;"></div>
                </form>
                <div id="loader" style="display: none;margin:0.5em 0 0 0;">
                    <img src="/static/images/pre_loader2.gif" alt="Loading..." style="width: 50px; height: 50px;">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            function showResult(score) {
                var resultDiv = document.getElementById("resultDiv");
                resultDiv.innerText = "Predicted Score: " + score.toFixed(2);
                resultDiv.style.display = "block";
                document.getElementById("loader").style.display = "none";
            }
            
            function handleSubmit() {
                var videoFile = document.getElementById('video').files[0];
                var exerciseType = document.getElementById('exercise').value;
                
                if (!videoFile || !exerciseType) {
                    alert("Please select an exercise and upload a video.");
                    return;
                }
            
                var formData = new FormData();
                formData.append('video', videoFile);
                formData.append('exercise', exerciseType);
                formData.append('video_duration', document.getElementById('videoDuration').value);
                formData.append('rid', document.querySelector('input[name="rid"]').value);
            
                var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/patient/problem/exercise/video/predict/score/', true);
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
            
                xhr.upload.onprogress = function(event) {
                    if (event.lengthComputable) {
                        var progress = (event.loaded / event.total) * 100;
                        var progressBar = document.querySelector('.progress-bar');
                        progressBar.style.width = progress + '%';
                    }
                };
            
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) {
                        document.getElementById("loader").style.display = "none";
            
                        if (xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            if ('predicted_score' in response) {
                                showResult(parseFloat(response.predicted_score));
                            } else {
                                console.error('Error:', response.error);
                            }
                        } else {
                            console.error('Error:', xhr.statusText);
                        }
                    }
                };
            
                document.getElementById("resultDiv").style.display = "none";
                document.getElementById("loader").style.display = "block";
                xhr.send(formData);
            }
            
            function previewVideo(input) {
                var videoPreview = document.getElementById('videoPreview');
                var videoDurationInput = document.getElementById('videoDuration');
                var file = input.files[0];
                var reader = new FileReader();
                
                reader.onload = function(e) {
                    videoPreview.src = e.target.result;
                    videoPreview.style.display = 'block';
                    
                    var video = document.createElement('video');
                    video.src = e.target.result;
                    video.addEventListener('loadedmetadata', function() {
                        videoDurationInput.value = video.duration;
                    });
                };
                
                if (file) {
                    reader.readAsDataURL(file);
                }
            }            
        </script>
    </div>
</section>


{% include "Footer_patient.html" %}