.s1body{
    text-align: center;
}
.s1body img{
    width: 50%;
}
.s1body .usdb{
    margin-left: 35%;
    margin-right: 35%;
}
.s1body .usdb ul {
    list-style: none;
    padding: 2%;
}

.s1body .usdb ul li {
    display: flex; 
    align-items: center; 
    margin-top: 1%;
    padding-left: 15%;
}

.s1body .usdb ul li img {
    margin-right: 3%;
    width: 20%;
}

.s1body .usdb ul li button {
    background-color: #58CABC;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2%;
    padding-top: .5%;
    padding-bottom: .5%;
    font-size: 1.5em;
}
.s1body .usdb ul li .pd{
    padding-left: 10.5%;
    padding-right: 10.5%;
}
.s1body .usdb ul li .pp{
    padding-left: 22%;
    padding-right: 22%;
}

.s1body .usdb ul li button:hover{
    background-color: #149f32;
    color: #111111;
}
/*Patient Log */

.photo_section {
    height: 18em;
    width: 100%;
    background-color: #f0f0f0;
    color: #333;
    padding: 1% 0%;
    margin: 0 auto;
}
.photo_section img{
    height: 18em;
    width: 100%;
}
.photo_section .hovtex{
    text-align: center;
    margin-top: -8em;
    color: #FFFFFF;
}
.photo_section .hovtex h3{
    font-size: 1.5em;
}
.photo_section .hovtex h1{
    font-size: 2.5em;
    margin-top: -.6em;
}

.plogbody ul {
    list-style: none;
    text-align: center;
    font-size: 1.9em;
}
.plogbody ul li{
    padding-top: 1%;
}
.plogbody ul li button {
    background-color: #58CABC;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2%;
    padding: 0.5% 5%;
}
.plogbody ul li .log,.plogbody ul li .sin{
    font-size: 1.2em;
}
.plogbody ul li button:hover{
    background-color: #149f32;
    color: #111111;
}


/* patient SignUp page */

.formimg img{
    height: 20em;
    width: 70%;
    margin-left: 15%;
    padding-top: 1%;
}

.formbody {
    font-family: sans-serif;
    margin-top: -5em;
    margin: 0;
    padding: 0;
}

.formbody .formcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 40em;
    margin: 5em auto;
    padding: 2%;
    border: 0.1em solid #ddd;
    border-radius: 2%;
    margin-top: -0.1em;
}

.formbody .formcont .profile-picture {
    width: 5.5em;
    height: 5.5em;
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 0.2em; 
    border: 0.2em solid #ccc;
}
.formbody .formcont p{
    margin-top: -1.5em;
}


form {
    width: 100%;
}

.formbody .formcont h2 {
    text-align: center;
    margin-bottom: 2%;
    margin-top: -0.05em;
    font-size: 2.5em;
}
.formbody .formcont .horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formbody .formcont .form-group {
    margin-bottom: 2%;
}

.formbody .formcont label {
    display: block;
    margin-bottom: 0.5em;
}

.formbody .formcont input[type="text"],
.formbody .formcont input[type="email"],
.formbody .formcont input[type="tel"] {
    width: 20em;
    padding: 0.5em;
    border: 0.1em solid #ccc;
    border-radius: 2%;
}
.formbody .formcont input[type="password"]{
    width: 20em;
    padding: 0.5em;
    border: 0.1em solid #ccc;
    border-radius: 2%;
}


.formbody .formcont textarea {
    width: 95%;
    padding: .5em;
    border: 0.1em solid #ccc;
    border-radius: 2%;
}

.formbody .formcont button {
    background-color: #58CABC;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2%;
    padding: 0.5% 5%;
    font-size: 1.5em;
    margin-left: 30%;
}

.formbody .formcont button:hover {
    background-color: #149f32;
    color: #111111;
}


/* patient LogIn page */

.plogimg img{
    height: 22em;
    width: 70%;
    margin-left: 15%;
}
.plogimg h2{
    text-align: center;
    margin-bottom: 2%;
    margin-top: -0.05em;
    font-size: 2.5em;
}

.plogbody .plogcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 40em;
    margin: 5em auto;
    padding: 2%;
    border: 0.1em solid #ddd;
    border-radius: 2%;
    margin-top: -0.1em;
}


.plogbody .plogcont input[type="text"] {
    width: 33em;
    padding: 0.5em;
    margin: 0.8em;
    border: 0.1em solid #ccc;
    border-radius: 2%;
    font-size: 0.95em;
}
.plogbody .plogcont input[type="password"]{
    width: 33em;
    padding: 0.5em;
    margin: 0.8em;
    border: 0.1em solid #ccc;
    border-radius: 2%;
    font-size: 0.95em;
}
.plogbody .plogcont button {
    background-color: #58CABC;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2%;
    padding: 0.5% 5%;
    font-size: 1.5em;
}

.plogbody .plogcont button:hover {
    background-color: #149f32;
    color: #111111;
}

/* Patient OTP page */





/* Styles for screens between 480px and 768px (tablets) */
@media (min-width: 480px) and (max-width: 768px) {
    .s1body .usdb {
        margin-left: 30%;
        margin-right: 30%;
    }
    
    .s1body .usdb ul li {
        padding-left: 5%;
    }

    .s1body .usdb ul li img {
        width: 15%;
    }

    .s1body .usdb ul li button {
        font-size: 1em;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    .s1body .usdb ul li .pd{
        padding-left: 5%;
        padding-right: 5%;
    }
    .s1body .usdb ul li .pp {
        padding-left: 11%;
        padding-right: 11%;
    }
}



/* Styles for screens less than 480px (phones) */
@media (max-width: 480px) {
    .s1body .usdb ul li {
        padding: 0;
        flex-direction: column;
        align-items: center; 
    }

    .s1body .usdb ul li img {
        width: 60%; 
        margin-bottom: 10px; 
    }

    .s1body .usdb ul li button {
        padding: 8px 20px; 
        font-size: 1em;
    }
}