
.patient_header{
    height: 6.5em;
    background-color: rgb(173, 245, 245);
    width: 100%;
    border-radius: 2%;
}
.patient_header .header button{
    padding: 0.3em 2em;
    font-size: 1.2em;
    border-style: none;
    border-radius: 5%;
    margin: 1em 0 0 2.5em;
    background-color: #CA5858;
    color: #FFFFFF;
}
.patient_header .header button:hover{
    background-color: #149f32;
    color: #111111;
}
.patient_header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.patient_header .user-info {
    display: flex;
    align-items: center;
    margin: 0.5em 5em 0 0;
    font-size: 1.2em;
}
.patient_header .user-info img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 1em;
}


.p_home_body{
    margin: 2em 0 2em 0;
    height: 29em;
}
.p_home_body .p_home_content{
    display: flex;
    width: 100%;
}
.p_home_body .p_home_content .left-section {
    flex: 1;
    padding: 2em;
    background-color: rgb(173, 245, 245);
    height: 25em;
}
.p_home_body .p_home_content .left-section button{
    font-size: 1.3em;
    border-style: none;
    border-radius: 0.5em;
    margin: 1em 0 0 2.5em;
    background-color: #31b302;
    color: #FFFFFF;
}
.p_home_body .p_home_content .left-section .rb {
    padding: 0.3em 3em;
}
.p_home_body .p_home_content .left-section .hb {
    padding: 0.3em 3.25em;
    background-color: #437B75;
}
.p_home_body .p_home_content .left-section .ab {
    padding: 0.3em 2.1em;
}
.p_home_body .p_home_content .left-section .eb {
    padding: 0.3em 1.7em;
}
.p_home_body .p_home_content .left-section button:hover{
    background-color: #029b26;
    color: #111111;
}

.p_home_body .p_home_content .right-section {
    flex: 4;
    padding: 2em;
    margin-left: 0.5em;
    background-color: #EEE9E9;
    text-align: center;
    font-size: 1.5em;
}
.p_home_body .p_home_content .right-section p{
    padding-top: 3em;
}

/*patient Profile*/



/*request sec*/



/* exercise */

.p_home_body .p_home_content .left-section .rbe {
    padding: 0.3em 3em;
}
.p_home_body .p_home_content .left-section .hbe {
    padding: 0.3em 3.25em;
}
.p_home_body .p_home_content .left-section .abe {
    padding: 0.3em 2.1em;
}
.p_home_body .p_home_content .left-section .ebe {
    padding: 0.3em 1.7em;
    background-color: #437B75;
}
.p_home_body .p_home_content .left-section button:hover{
    background-color: #029b26;
    color: #111111;
}

/* report */
.p_home_body .p_home_content .left-section .rbr {
    padding: 0.3em 3em;
    background-color: #437B75;
}
.p_home_body .p_home_content .left-section .hbr {
    padding: 0.3em 3.25em;
}
.p_home_body .p_home_content .left-section .abr {
    padding: 0.3em 2.1em;
}
.p_home_body .p_home_content .left-section .ebr {
    padding: 0.3em 1.7em;
}
.p_home_body .p_home_content .left-section button:hover{
    background-color: #029b26;
    color: #111111;
}

/* add referral id */
.p_home_body .p_home_content .left-section .rba {
    padding: 0.3em 3em;
}
.p_home_body .p_home_content .left-section .hba {
    padding: 0.3em 3.25em;
}
.p_home_body .p_home_content .left-section .aba {
    padding: 0.3em 2.1em;
    background-color: #437B75;
}
.p_home_body .p_home_content .left-section .eba {
    padding: 0.3em 1.7em;
}
.p_home_body .p_home_content .left-section button:hover{
    background-color: #029b26;
    color: #111111;
}
